/*
Theme Name:     UNCG Resposive Child - Ready To Learn
Description:    Theme for RTL based on UNCG's Responsive theme
Author:         uncgdcl
Template:       uncgwp

(optional values you can add: Theme URI, Author URI, Version, License, License URI, Tags, Text Domain)
*/

@import url("../uncgwp/style.css");

#footer-left {
	font-size: 12px;
}

.color-list li {
	/*height: 40px;*/
	border: 2px solid #dbdad5 ;
	background-color: #FFFFFF;
	max-width: 600px;
	min-width: 200px;
	padding-right: 80px;
	margin-top: 30px;
}

.color-list li:first-child {
	margin-top: 0;
}


.color-list li span {
	display: block;
	background-color: #40bfa7;
	border-radius: 7px;
	color: #FFFFFF;
	position: relative;
	left: 20px;
	bottom: 20px;
	margin: 0 0 -8px 0;
	padding: 8px 20px;
	border: 2px solid #FFFFFF;
}


h1,h2,h3,h4,h5,h6 {
	font-family: Pluto Sans, sans-serif;
}

h1 {
	text-transform: uppercase;
	font-size: 34px;
}

h2 {
    font-size: 24px;
    line-height: 1.2;
}

h3 {
	font-family: Sofia, sans-serif;
	font-size: 20px;
    line-height: 1.333;
    margin: 0 0 16px;
    font-weight: bold;
}

h4 {
    font-size: 1.25em;
}

a, a:active, a:focus {
	outline: none;
}

body {
	font-family: Sofia, sans-serif;
	font-size: 16px;
}

#unit-horizontal .current-menu-item a {
  background: -webkit-linear-gradient(#a3a3a3, #ffffff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#a3a3a3, #ffffff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#a3a3a3, #ffffff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#a3a3a3, #ffffff); /* Standard syntax */

}

.entry-content a:link {
	color: #0a3068;
	font-weight: bold;
}

.entry-content a:visited {
	color: #0a3068;
	font-weight: bold;
}

.entry-content a:hover {
	color: #0a3068;
	text-decoration: underline;
}




/*Watu pro*/
.question-choices {
	margin-left: 21px ;
}
.answer {
	margin-left: 3px;
}
.watu-question:last-child .question-choices {
	padding-bottom: 20px;
}

.quiz-form input[type="radio"] {
    margin-bottom: 5px;
}

/*video */
.wp-video-shortcode {
	max-width: 100%;
	height: 270px !important;
}

.wp-video-shortcode .mejs-overlay-play {
    height: 240px !important;
}





/* banners */

#unit-head {
	display: none;
}

.page-title {
	display: none;
}

body.search .page-title {
	display: inherit;
	font-size: 20px;
}
body.search .page-header {
	margin-bottom: 10px;
}

.banner-image-home {
	height: auto;
    width: 100%;
    background-repeat: no-repeat;
 }

.banner-image {
		height: auto;
        width: 100%;
        background-repeat: no-repeat;
 }


 .page-header {
 	border-bottom: none;
 	padding-bottom: 0;
 }

 header.page-header {
 	margin-top: 0px;
 }


/*activity containers*/
.activity {

	background: #BFC7D1;
    padding: 0px 15px 1px 15px;
    margin-bottom: 25px;
   }

 #pre {
padding-top: 1px;
 }

.activity h4 {
	padding-top: 12px;
	margin-bottom: 12px;
}

#boxy {
  margin: 1em 0;
  background-color: #fafafa;
  padding: 15px;
}

/*two column container*/
#wrapper {
  margin-left: 135px;
}
#columntwo {
  float: right;
  width: 100%;

}
#columnone {
  float: left;
  width: 135px;
  margin-left: -135px;
  font-weight: bold;
}
#cleared {
  clear: both;
}

/*table*/
table {
	width: 100%;
}
td {
	vertical-align: top;
}
td:nth-child(2) {
		padding-left: 10px;
}

td:first-child {
	font-weight: bold;
}

tr:nth-child(even) {
	background: #E0E0E0;
}


/*tabs*/
  .omsc-tabs {
  margin: 1em 0;
  background-color: #fafafa;
  /* border-radius: 5px;*/

}

/*.omsc-tabs-control li a:link, .omsc-tabs-control li a:visited {
	color: #BFC7D1;
}*/


/*tabby tabs*/
.responsive-tabs .responsive-tabs__list__item--active,
.responsive-tabs .responsive-tabs__list__item--active:hover {
	background: #fff;
	border-color: #ddd;
	color: #666;
	padding-bottom: 11px;
	margin-top: 0;
	position: relative;
	top: 1px;
	font-weight: bold;
}



/* Buttons*/


a.ml-button-2 {
	display: block;
	max-width: 240px;
	height: 35px;
	border-radius: 4px;
	text-align: center;
	line-height: 35px;
	text-decoration: none;
	font-family: 'Helvetica';
	font-weight: bold;
	font-size: 10pt;
	/*float: left;*/
	margin: 10px 20px;
	clear:both;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	padding-bottom: 10px;

}

a.ml-button-2:hover{
	font-weight: normal;
	color: #FFFFFF;
	}

/* Button Style 2 */


/*Normal*/
.ml-button-2 {
	background-color: #FC0;
	border: 1px solid #8e8e8e;
	-webkit-border-radius: 28;
 	-moz-border-radius: 28;
	box-shadow:inset 0px 0px 1px rgba(179,179,179,1);
	background-image: -webkit-linear-gradient(top, #fc0, #cc9900);
  	background-image: -moz-linear-gradient(top, #fc0, #cc9900);
  	background-image: -ms-linear-gradient(top, #fc0, #cc9900);
  	background-image: -o-linear-gradient(top, #fc0, #cc9900);
  	background-image: linear-gradient(to bottom, #fc0, #cc9900);
	color: #545554;
	text-shadow: rgba(254,254,254,0.5) 0px 1px 0px;
}

/*Hover*/
.ml-button-2:hover {
	background: #036;
 	background-image: -webkit-linear-gradient(top, #036, #1f4d7b );
  	background-image: -moz-linear-gradient(top, #036, #1f4d7b );
  	background-image: -ms-linear-gradient(top, #036, #1f4d7b );
  	background-image: -o-linear-gradient(top, #036, #1f4d7b );
  	background-image: linear-gradient(to bottom, #036, #1f4d7b );
  	text-decoration: none;
  	color: #FFFFFF;

}



/*divs*/
.holder {
	width: 100%;
	margin-left: auto;
	margin-right: auto;

}
#left-div {
	width: 45%;
	float: left;

}

#right-div {
	width: 45%;
	float: left;

}


/* extra margin at the top for the 404 page since it does not have a banner at the top of the content */
.error404 .page-content {
  margin-top: 20px;
}

.tablepress thead th,
.tablepress tfoot th {
	background-color: #BFC7D1;
}



@media screen and (max-width: 769px) {

#left-div, #right-div {
	float:none;
	width: auto;
}

}

@media screen and (min-width: 550px) {

.color-list {
	list-style-type: none;
	padding: 0;

}
}

@media screen and (max-width: 992px) {
.omsc-tabs-control, .omsc-tabs-control li {
  display: block;
}
}

@media screen and (min-width: 992px) {
.col-xs-12 {
	padding-left: 30px;
	padding-right: 30px;
}
}

/*menu*/
@media screen and (min-width: 992px) {
#unit-horizontal ul li {
	width: 20%;
	text-align: center;
	font-size: larger;
}

#unit-horizontal ul li:last-child a {
    border-right: 0;
}

}


/*sticky menu*/
@media screen and (min-width: 992px) {
.site-navigation {
	-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.75);

}

.site-navigation.container.cloned {
	border-top: 10px solid #fc0;
}
}
@media screen and (min-width: 769px) {
.tablet-msg {
   display: none;
}

}
